@charset 'UTF-8';
@import '../css/var.css';

@component-namespace nm {
  @b button {
    padding: 10px 15px;
    border: 0;
    outline: 0;
    -webkit-appearance: none;

    color: var(--color-base-black);
    background-color: #fff;
    border: 1px solid var(--color-base-silver);
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }

  @m primary {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover,
    &:focus {
      background: var(--color-secondary);
      border-color: var(--color-secondary);
      color: #fff;
    }
  }
}
